<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<img src="<%= cuttedpicurl %>" />
	<button onclick="window.location='/upload'">更改头像</button>
</body>
</html>